<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some errors occured!</h1>
    <p>Sorry for the inconvenience. We will get back to you as soon as we fix them.</p>

<%- include('includes/end.ejs') %>